@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg: #6cbea4;
    --slide-margin: -33.3333%
}

body {
    user-select: none;
    /*background-color: var(--bg);*/
}

.bg {
    background-image: url(assets/lvt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
}

.mo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(3px);
}

.logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

#logo {
    width: 2.5rem;
    margin-right: .4rem;
    border-radius: 50%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #f4f4f47c, transparent);
    transition: .7s;
}

.header:hover::after {
    left: 100%;
}

.navbar {
    margin-right: 4rem;
}

.navbar a {
    font-size: 1.15rem;
    color: white;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}

#check {
    display: none;
}

.icons {
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 5%;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

#home {
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 0 0%;
    height: 100vh;
    margin-top: 68px;
}

.home-content {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ttin {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.408);
    height: 100%;
    width: 30%;
    justify-content: center;
    border-radius: 10px;
}

.truong {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 1rem;
}

.itk64 {
    font-size: 8vw;
    position: absolute;
    top: 4rem;
    color: white;
    font-weight: 700;
    font-family: 'Lilita One', sans-serif;
    -webkit-text-stroke: .05rem black;
    transform: translateX(15%);
}

.bar {
    background-color: white;
    width: 90%;
    height: 2px;
    position: relative;
    top: 3.5rem;
    transform: translateX(5%);
}

.bar2 {
    top: 13rem;
}

.ttin .gvcn {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    top: 12rem;
    width: 98%;
    translate: 1%;
}

.gvcn div {
    width: 11rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gvcn div img {
    position: relative;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social {
    background-color: transparent;
    width:  100%;
    height: 40%;
    position: relative;
    bottom: -13rem;
}

.social ul {
    position: relative;
    left: 10%;
    top: 10%;
    list-style-type: none;
}

.social ul li {
    font-size: 2.5vw;
}

.social ul li a {
    color: white;
    transition: .3s;
}

.social ul li a:hover {
    color: rgb(0, 0, 0);
}

.anhlop {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.408);
    height: 100%;
    width: 69%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.slider {
    background-color: red;
    position: relative;
    width: 90%;
    height: 70%;
    top: 3rem;
    border-radius: 10px;
    overflow: hidden;
    max-height: 458px;
}


.slides input {
    display: none;
}

.slides .slide img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.slide {
    transition: 2s;
    width: 33.3333%;
    height: 100%;
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
}

.btns {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: white;
}

.slide-active {
    background: white;
}

.first {
    position: relative;
}

#radio1:checked ~ .first {
    margin-left: calc( var(--slide-margin) * 0 );
}
#radio2:checked ~ .first {
    margin-left: calc( var(--slide-margin) * 1 );
}
#radio3:checked ~ .first {
    margin-left: calc( var(--slide-margin) * 2 );
}


@media (max-width: 992px) {
    .header {
        padding: .9rem 1%;
    }
}

@media (max-width: 878px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: inline-flex;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 19.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .2s ease;
        opacity: 0;
    }
    
    #check:checked~.navbar a {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}